.card_description_maincontainer{
    padding-left: .2em;
    padding-right: .2em;
}
.card_container{
    margin: 0 10%;
    color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 13em;
    height: auto;
    margin: .5em auto;
    font-family:sans-serif;
}
.card_image_container{
    width: 13em;
    margin: auto;
}
.card_image_container img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}
.card_description_container{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 13px;

}
.card_description_container p{
    margin-top: .2em;
    margin-bottom: .2em;
}

.card_price_container{
    font-size: 13px;
}